# Camera
type proc_camera, proc_type, fs_type;
type vendor_camera_file, vendor_file_type, file_type;
type dit_socket, file_type;
type camera_socket, file_type, data_file_type;

# Factory partition
type factory_file, file_type;

# Fingerprint
type proc_goodix_fp, proc_type, fs_type;

# Rild
type rild_file, file_type, vendor_file_type;

# Sensors
type persist_sensors_file, file_type, vendor_persist_type;

# Leds
type init_led_exec, exec_type, vendor_file_type, file_type;

# Touchscreen
type sysfs_touchpanel, sysfs_type, fs_type;
